{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Dustin Michels
    </h1>
    <p class="subtitle">
      Recent liberal arts graduate // Budding computer programmer and data scientist
    </p>
    <div class="columns">
      <div class="column is-one-third">
        <img class="box prof-pic" src="assets/images/guitar.jpg" alt="Dustin playing guitar">
      </div>
      <div class="column">
        <h1 class="title is-2">Hello!</h1>
        <p>
          My name is Dustin and I recently graduated Carleton College with a degree in computer science. I also placed an informal
          emphasis on biology and environmental studies courses.
        </p>
        </br>
        <p>I am a folk guitarist, utilitarian cyclist, and relentless optimist.</p>
        </br>
        <p>
          My passion is for sustainability; I want to help communities reduce their carbon footprint and waste while becoming more
          resilient, empathetic, beautiful, and fun.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}